<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>실시간 온습도 차트</title>
    <meta name="viewport"
        content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon_16.ico" />
    <link rel="bookmark" href="favicon_16.ico" />
    <!-- site css -->
    <link rel="stylesheet" href="static/dist/css/site.min.css">
    <link rel="stylesheet" href="static/mdi/css/materialdesignicons.min.css">  
    <link rel="stylesheet" href="static/lib/css/jquery-ui.min.css">
    <link rel="stylesheet" href="static/lib/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="static/lib/css/toastr.css?var={{rand}}">

    <script type="text/javascript" src="static/dist/js/site.min.js"></script>
    <script src="static/lib/js/jquery-ui.min.js"></script>
    <script src="static/lib/js/toastr.min.js"></script>
    <script src="static/lib/js/konva.js"></script>
    {% include 'common/css.html' %}
    <!-- bootstrap-switch 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>
    <!-- bootstrap-switch 추가 -->
</head>
<body>
    <!-- https://www.w3schools.com/bootstrap/default.asp -->    
    <!--header + top-->
    {% include 'top.html' %}
    <!--header + top end-->
    <!-- 3단중 중단(사이드 메뉴와 본문)  -->
    <div class="container-fluid">
        <!--documents-->
        <div class="row row-offcanvas row-offcanvas-left">
            {% include 'menu.html' %}
            <div class="col-xs-12 col-sm-9 content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="javascript:void(0);" class="toggle-sidebar">
                                <span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
                            </a>
                            Control Panel
                        </h3>
                    </div>
                    <div class="panel-body">
                        <!-- Tab Menu -->
                        <div class="col-md-6">
                            <ul id="myTab" class="nav nav-pills nav-justified">
                                <li class="active"><a href="#Temperature" data-toggle="tab">Temperature</a></li>
                            </ul>
                        </div>
                        <!-- Tab Menu End-->
                        <div id="myTabContent" class="tab-content col-md-12">
                            <div class="tab-pane fade active in" id="Temperature">
                                <div class="tab-content col-md-12" style="border-top: 1px solid #80808069; padding-top: 10px;">
                                    <div class="col-md-12" style="display: flex; align-items: center;">
                                        <h4>Temperture: </h4><h4 id="tempTxt"></h4>
                                        <h4 style="margin-left: 40px;">Humidity : </h4><h4 id = "humiTxt"></h4>
                                        <!-- row -->
                                    </div>
                                    <div class="row">
                                        <canvas id="tempChart"></canvas>
                                    </div>
                                    <!-- content-row -->
                                </div>
                                <!--tab-content-->
                            </div>
                            <!-- Event end-->
                        </div>
                        <!-- myTabContent end -->
                    </div>
                    <!-- panel body end-->
                </div>
                <!-- panel panel-default end -->
            </div>
            <!-- content -->
        </div>
    </div>
    <!-- 3단중 중단(사이드 메뉴와 본문) end -->
    <!--footer(하단)-->
    <div class="site-footer">
        <div class="container">
            <div class="copyright clearfix">
                <p>
                    <b>IOT AMDIN SYSTEM</b>&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <p>Copyright © ine.gachon.ac.kr 2023</p>
            </div>
        </div>
    </div>
    <!--footer(하단) end-->
   
    <div class="loading-overlay">
        <img src="static/image/Spinner-1s-200px.gif" alt="Loading" class="loading-image">
    </div>
</body>
{% include 'common/js_fun.html' %}
{% include 'common/js_init.html' %}
<script src="static/lib/js/socket.io-3.0.1.min.js"></script>
<script>
    $(function() {
        //소켓아이오 js
        ////////////////////////////////////////////////////////////////////////////
        socket = io({
            transports : [ 'websocket' ]
        });
       
        socket.on('connect', function() {
            console.log('소켓 접속 완료');
            //alertShow('socket connection complete');
        });
        socket.on('disconnect', function() {
            console.log('소켓 접속 종료');
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/raphael/raphael.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/justgage/justgage.js"></script>
<script type="text/javascript" src="static/lib/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/lib/js/dataTables.bootstrap.min.js"></script>
<script src="static/user/js/system_info.js?var={{rand}}"></script>
<script>
alertShow('');
// 차트 설정
const ctx = document.getElementById('tempChart').getContext('2d');
const tempChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [],  // 빈 레이블 배열
        datasets: [{
            label: '온도 (°C)',
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            data: []
        }, {
            label: '습도 (%)',
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            data: []
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: false
            }
        }
    }
});

$(function(){
    const tempTxt = document.getElementById('tempTxt');
    const humiTxt = document.getElementById('humiTxt');
    // 최초 데이터 요청
    socket.emit('get_temperature', {});
    socket.on('ret_temperature', function(data) {
        console.log("온도",data)
        const now = new Date();
        const timeLabel = `${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}`;
        const temperature = data.temperature
        const humidity = data.humidity
        if(!(temperature == 0 && humidity == 0)){
            // if (tempChart.data.labels.length > 20) {
            //     tempChart.data.labels.shift();  // 레이블 배열에서 첫 번째 요소 제거
            //     tempChart.data.datasets.forEach((dataset) => {
            //         dataset.data.shift();  // 데이터셋에서 첫 번째 데이터 제거
            //     });
            // }
            tempChart.data.labels.push(timeLabel);
            tempChart.data.datasets[0].data.push(temperature);
            tempChart.data.datasets[1].data.push(humidity);
            tempChart.update();

            console.log(typeof temperature);
            tempTxt.innerText = temperature;
            humiTxt.innerText = humidity;
        }
    });

})

</script>
</html>